<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="JohanCS" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Johan\Desktop\Software Engineering\Year 1 - SEM 2\IOOP\Assignment\IOOP Assignment - Admin\Admin database\JohanDB.mdf";Integrated Security=True'
		providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="connectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\chanw\Desktop\Visual Studio Projects\IOOP Assignment\Database\db.mdf;Integrated Security=True"/>
	</appSettings>
</configuration>